<!--suppress ALL -->
@model AccountSettingsModel

@{
    ViewData["Title"] = "Management";
    AtrastiUser user = (AtrastiUser) ViewData["user"];
    //IList<ChatFriend> friends = (IList<ChatFriend>) ViewData["friends"];
}

@section Styles {
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
    .form-control {
    background-color: #58616a !important;
    color: white !important;
    border-color: #7d8b99 !important;
    }
    </style>
}


<div class="wrapper">

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light" style="z-index: 0">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                <i class="fas fa-bars"></i>
            </a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
    </ul>
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@Url.Content("~/logos/" + user.CompanyLogo)" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="@Url.RouteUrl("Profile", new {id = user.Id})" class="d-block">@user.Company</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Management", "Profile")" class="nav-link">
                                <i class="far nav-icon"></i>
                                <p>Account Settings</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("ChangePassword", "Profile")" class="nav-link active">
                                <i class="far nav-icon"></i>
                                <p>Change Password</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="background-color: rgb(33, 37, 40) !important;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0 text-white">Dashboard</h4>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row pb-4">
                <!-- Col -->
                <section class="col-lg-6 connectedSortable">
                    <div class="box p-2 box-primary bg-dark">
                        <div class="box-header with-border">
                            <h4 class="box-title">Change Password</h4>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form method="post" id="account-settings-form">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="OldPassword">Old password</label>
                                    <input id="OldPassword" type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="NewPassword">New password</label>
                                    <input id="NewPassword" type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="ConfirmPassword">Confirm new password</label>
                                    <input id="ConfirmPassword" type="password" class="form-control">
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <button type="submit" class="btn btn-primary ml-auto text-white">Update</button>
                        </form>
                    </div>
                </section>
                <!-- /.Col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Toastr -->
<script src="/plugins/toastr/toastr.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>

<script>
        document.getElementById('account-settings-form').onsubmit = function (ev) {
            ev.preventDefault();
            const oldPassword = document.getElementById('OldPassword').value;
            const newPassword = document.getElementById('NewPassword').value;
            const confirmPassword = document.getElementById('ConfirmPassword').value;
            
            if (newPassword === confirmPassword) {
                var dataValue = { "currentPassword": oldPassword, "newPassword": newPassword };
                $.ajax("/Auth/ChangePassword",
                {
                    type: "POST",
                    data: dataValue,
                    complete: (result) => {
                        const resultObj = result.responseJSON;
                        if (resultObj.errorCode === -1) {
                            let errorMessage = "";
                            for (const error of resultObj.errors) {
                                errorMessage += error.description + "<br />";
                            }
                            
                            toastr.error(errorMessage, 'Error');
                        } else {
                            toastr.success('Password is now updated!', 'Success')
                        }
                    }
                });
            } else {
                toastr.error('Password does not match.', 'Error!');
            }
        }
    </script>